<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blueboy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1826},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>blueboy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1792},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>blueboy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1758},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>blueboy4.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1724},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>blueboybg.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1682},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_a_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1800},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>boy_a_bg_a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1860},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>boy_h_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1798},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>boy_h_bg_a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1112},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>boy_l_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1837},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>boy_l_bg_a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1863},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>boy_o_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,1798},{63,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>boy_o_bg_a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1861},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>die1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1798},{37,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,79}}</string>
                <key>sourceSize</key>
                <string>{37,79}</string>
            </dict>
            <key>die2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1719},{37,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,79}}</string>
                <key>sourceSize</key>
                <string>{37,79}</string>
            </dict>
            <key>die3.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1638},{37,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,79}}</string>
                <key>sourceSize</key>
                <string>{37,79}</string>
            </dict>
            <key>greenboy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1142},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>greenboy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1142},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>greenboy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1138},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>greenboy4.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1112},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>greenboybg.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1638},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>redboy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1112},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>redboy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1112},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>redboy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1112},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>redboy4.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1860},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>redboybg.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1863},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>win5.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,890},{220,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{220,154}}</string>
                <key>sourceSize</key>
                <string>{234,160}</string>
            </dict>
            <key>win52.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1410},{226,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{226,158}}</string>
                <key>sourceSize</key>
                <string>{234,160}</string>
            </dict>
            <key>win53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{234,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,160}}</string>
                <key>sourceSize</key>
                <string>{234,160}</string>
            </dict>
            <key>winblue.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,668},{220,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{220,154}}</string>
                <key>sourceSize</key>
                <string>{234,160}</string>
            </dict>
            <key>winblue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1182},{226,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{226,158}}</string>
                <key>sourceSize</key>
                <string>{234,160}</string>
            </dict>
            <key>winblue3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{234,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,160}}</string>
                <key>sourceSize</key>
                <string>{234,160}</string>
            </dict>
            <key>wingreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,446},{220,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{220,154}}</string>
                <key>sourceSize</key>
                <string>{234,160}</string>
            </dict>
            <key>wingreen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1638},{226,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{226,158}}</string>
                <key>sourceSize</key>
                <string>{234,160}</string>
            </dict>
            <key>wingreen3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{234,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,160}}</string>
                <key>sourceSize</key>
                <string>{234,160}</string>
            </dict>
            <key>winred.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,224},{220,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{220,154}}</string>
                <key>sourceSize</key>
                <string>{234,160}</string>
            </dict>
            <key>winred2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1410},{226,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{226,158}}</string>
                <key>sourceSize</key>
                <string>{234,160}</string>
            </dict>
            <key>winred3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{234,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,160}}</string>
                <key>sourceSize</key>
                <string>{234,160}</string>
            </dict>
            <key>winyel.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{220,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{220,154}}</string>
                <key>sourceSize</key>
                <string>{234,160}</string>
            </dict>
            <key>winyel2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1182},{226,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{226,158}}</string>
                <key>sourceSize</key>
                <string>{234,160}</string>
            </dict>
            <key>winyel3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,160}}</string>
                <key>sourceSize</key>
                <string>{234,160}</string>
            </dict>
            <key>yellowboy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1142},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>yellowboy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1142},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>yellowboy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1142},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>yellowboy4.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1892},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>yellowboybg.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1861},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero.pvr.ccz</string>
            <key>size</key>
            <string>{322,1914}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6efff73966cf6b0b2bb54a4e44e00a6c:1/1$</string>
            <key>textureFileName</key>
            <string>hero.pvr.ccz</string>
        </dict>
    </dict>
</plist>
