<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level_bt_all_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,744},{142,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,112}}</string>
                <key>sourceSize</key>
                <string>{142,112}</string>
            </dict>
            <key>level_bt_all_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,630},{142,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,112}}</string>
                <key>sourceSize</key>
                <string>{142,112}</string>
            </dict>
            <key>level_bt_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,957},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>level_bt_blue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,988},{128,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,112}}</string>
                <key>sourceSize</key>
                <string>{128,112}</string>
            </dict>
            <key>level_bt_blue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,988},{128,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,112}}</string>
                <key>sourceSize</key>
                <string>{128,112}</string>
            </dict>
            <key>level_bt_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,843},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>level_bt_green_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,962},{128,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,112}}</string>
                <key>sourceSize</key>
                <string>{128,112}</string>
            </dict>
            <key>level_bt_green_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,874},{128,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,112}}</string>
                <key>sourceSize</key>
                <string>{128,112}</string>
            </dict>
            <key>level_bt_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,729},{114,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,112}}</string>
                <key>sourceSize</key>
                <string>{114,112}</string>
            </dict>
            <key>level_bt_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,630},{128,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,112}}</string>
                <key>sourceSize</key>
                <string>{128,112}</string>
            </dict>
            <key>level_bt_red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,858},{128,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,112}}</string>
                <key>sourceSize</key>
                <string>{128,112}</string>
            </dict>
            <key>level_bt_yel.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,760},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>level_bt_yel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,599},{128,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>level_bt_yel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,972},{128,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>level_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,554},{127,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,95},{127,43}}</string>
                <key>sourceSize</key>
                <string>{321,233}</string>
            </dict>
            <key>level_level_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,2},{424,550}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,550}}</string>
                <key>sourceSize</key>
                <string>{424,550}</string>
            </dict>
            <key>level_level_bt_del.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1022},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>level_level_bt_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,554},{233,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,74}}</string>
                <key>sourceSize</key>
                <string>{233,74}</string>
            </dict>
            <key>level_map.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{581,958}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{581,958}}</string>
                <key>sourceSize</key>
                <string>{583,960}</string>
            </dict>
            <key>level_nb0.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1022},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,32}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>level_nb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,1071},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{20,32}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>level_nb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,582},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{26,32}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>level_nb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1071},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,32}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>level_nb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,554},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{26,32}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>level_nb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1076},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,32}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>level_nb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1022},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,32}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>level_nb7.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1071},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,32}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>level_nb8.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1076},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,32}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>level_nb9.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,554},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{26,32}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>level_star_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,957},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>level_star_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{366,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,58}}</string>
                <key>sourceSize</key>
                <string>{366,58}</string>
            </dict>
            <key>level_star_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1022},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map.pvr.ccz</string>
            <key>size</key>
            <string>{1011,1102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b05b4cb921e2387e4b952bdb76e0a32:1/1$</string>
            <key>textureFileName</key>
            <string>map.pvr.ccz</string>
        </dict>
    </dict>
</plist>
