<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nb_level_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,33}}</string>
                <key>sourceSize</key>
                <string>{26,33}</string>
            </dict>
            <key>nb_level_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,2},{15,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,33}}</string>
                <key>sourceSize</key>
                <string>{15,33}</string>
            </dict>
            <key>nb_level_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,33}}</string>
                <key>sourceSize</key>
                <string>{26,33}</string>
            </dict>
            <key>nb_level_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,33}}</string>
                <key>sourceSize</key>
                <string>{26,33}</string>
            </dict>
            <key>nb_level_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,33}}</string>
                <key>sourceSize</key>
                <string>{26,33}</string>
            </dict>
            <key>nb_level_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,33}}</string>
                <key>sourceSize</key>
                <string>{26,33}</string>
            </dict>
            <key>nb_level_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,33}}</string>
                <key>sourceSize</key>
                <string>{26,33}</string>
            </dict>
            <key>nb_level_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,33}}</string>
                <key>sourceSize</key>
                <string>{26,33}</string>
            </dict>
            <key>nb_level_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,2},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,33}}</string>
                <key>sourceSize</key>
                <string>{26,33}</string>
            </dict>
            <key>nb_level_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,33}}</string>
                <key>sourceSize</key>
                <string>{26,33}</string>
            </dict>
            <key>nb_level_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>nb_life_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,2},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>nb_life_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,2},{16,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,27}}</string>
                <key>sourceSize</key>
                <string>{16,27}</string>
            </dict>
            <key>nb_life_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{19,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,27}}</string>
                <key>sourceSize</key>
                <string>{19,27}</string>
            </dict>
            <key>nb_life_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,2},{19,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,27}}</string>
                <key>sourceSize</key>
                <string>{19,27}</string>
            </dict>
            <key>nb_life_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,27}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>nb_life_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,2},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>nb_life_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{21,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,28}}</string>
                <key>sourceSize</key>
                <string>{21,28}</string>
            </dict>
            <key>nb_life_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,2},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>nb_life_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,27}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>nb_life_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,2},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>nb_life_b_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{12,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,15}}</string>
                <key>sourceSize</key>
                <string>{12,15}</string>
            </dict>
            <key>nb_life_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,18},{7,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,15}}</string>
                <key>sourceSize</key>
                <string>{7,15}</string>
            </dict>
            <key>nb_life_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,16},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>nb_life_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,16},{12,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,15}}</string>
                <key>sourceSize</key>
                <string>{12,15}</string>
            </dict>
            <key>nb_life_b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>nb_life_b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,2},{12,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,15}}</string>
                <key>sourceSize</key>
                <string>{12,15}</string>
            </dict>
            <key>nb_life_b_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,16},{12,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,15}}</string>
                <key>sourceSize</key>
                <string>{12,15}</string>
            </dict>
            <key>nb_life_b_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{12,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,15}}</string>
                <key>sourceSize</key>
                <string>{12,15}</string>
            </dict>
            <key>nb_life_b_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,16},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>nb_life_b_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>nb_life_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,19},{9,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,21}}</string>
                <key>sourceSize</key>
                <string>{9,21}</string>
            </dict>
            <key>nb_star_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,2},{17,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,22}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>nb_star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>nb_star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{17,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,22}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>nb_star_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,2},{17,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,22}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>nb_star_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,2},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>nb_star_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{17,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,22}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>nb_star_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,2},{17,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,22}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>nb_star_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{17,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,22}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>nb_star_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,2},{17,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,22}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>nb_star_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,2},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>nb_star_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,19},{8,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,18}}</string>
                <key>sourceSize</key>
                <string>{8,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>number.pvr.ccz</string>
            <key>size</key>
            <string>{890,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2e8a0a500265b683f2c49166e555abf:1/1$</string>
            <key>textureFileName</key>
            <string>number.pvr.ccz</string>
        </dict>
    </dict>
</plist>
