<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_0000_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1472},{505,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,375}}</string>
                <key>sourceSize</key>
                <string>{505,375}</string>
            </dict>
            <key>0_0001_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,964},{505,371}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,371}}</string>
                <key>sourceSize</key>
                <string>{505,371}</string>
            </dict>
            <key>0_0002_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{504,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,225}}</string>
                <key>sourceSize</key>
                <string>{504,225}</string>
            </dict>
            <key>0_0003_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{505,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,247}}</string>
                <key>sourceSize</key>
                <string>{505,247}</string>
            </dict>
            <key>0_0004_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,2},{504,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,245}}</string>
                <key>sourceSize</key>
                <string>{504,245}</string>
            </dict>
            <key>0_0005_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1471},{505,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,310}}</string>
                <key>sourceSize</key>
                <string>{505,310}</string>
            </dict>
            <key>0_0006_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{506,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,504}}</string>
                <key>sourceSize</key>
                <string>{506,504}</string>
            </dict>
            <key>0_0008_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,509},{502,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,314}}</string>
                <key>sourceSize</key>
                <string>{502,314}</string>
            </dict>
            <key>0_0009_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,825},{501,462}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,462}}</string>
                <key>sourceSize</key>
                <string>{501,462}</string>
            </dict>
            <key>0_0010_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1472},{506,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,342}}</string>
                <key>sourceSize</key>
                <string>{506,342}</string>
            </dict>
            <key>0_0011_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1980},{98,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,60}}</string>
                <key>sourceSize</key>
                <string>{98,60}</string>
            </dict>
            <key>down.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1980},{73,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{73,40}}</string>
                <key>sourceSize</key>
                <string>{89,46}</string>
            </dict>
            <key>passNext.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1979},{88,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,67}}</string>
                <key>sourceSize</key>
                <string>{90,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>start.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0a11403b224fa6eee72294c5f5d5ca1:1/1$</string>
            <key>textureFileName</key>
            <string>start.pvr.ccz</string>
        </dict>
    </dict>
</plist>
